.chat{
    flex: 0.7;
    flex-grow: 1;
    overflow-y: scroll;
    padding-bottom: 150px;
}

.chatHeader{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.chatHeaderRight{
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 14px;
}

.chatHeaderRight > .MuiSvgIcon-root{
    margin-right: 5px !important;
    font-size: 16px;
}

.chatChannelName{
    text-transform: lowercase;
}

.chatChannelName > .MuiSvgIcon-root{
    margin-left: 5px;
    font-size: 18px;
}